* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: clamp(8px, 1.5vw, 80px);
}

h1 {
  font-size: clamp(12px, 3vw, 120px);
}

h2 {
  font-size: clamp(11px, 2.8vw, 100px);
}

h3 {
  font-size: clamp(10px, 2.5vw, 90px);
}

body {
  display: flex;
  flex-direction: column;
}

header {
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1vw;
  line-height: 4em;
  font-size: 2vw;
  text-align: center;
}
header .bar1, header .bar2, header .bar3 {
  width: 4vh;
  height: 0.5vh;
  background-color: #333;
  margin: 1vh 4vw;
  transition: 0.4s;
  z-index: 4;
}
header .change .bar1 {
  transform: translate(0, 1.5vh) rotate(-45deg);
  background-color: white;
}
header .change .bar2 {
  opacity: 0;
}
header .change .bar3 {
  transform: translate(0, -1.5vh) rotate(45deg);
  background-color: white;
}
header button {
  width: 5vw;
}

header:first-child {
  z-index: 3;
}

#sideNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 20vh;
  transition: 0.5s;
}
#sideNav a {
  padding: 2vh 2vw 2vh 6vw;
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.3s;
}
#sideNav a:hover {
  color: red;
}

main {
  height: 100vh;
  color: black;
  background-color: rgba(232, 232, 232, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgba(211, 211, 211, 0.6), rgba(211, 211, 211, 0.6)), url("icebergimage.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
main img {
  width: 100%;
  pointer-events: none;
  z-index: -1;
  position: absolute;
  text-align: left;
  display: block;
  object-fit: cover;
}
main .content {
  align-self: center;
  text-align: center;
  font-weight: bold;
}
main h1 {
  width: 70%;
  margin-top: 35vh;
}
main p {
  width: 70%;
  margin: 2vh;
}
main button {
  background-color: #65c7d6;
  flex: 0.2 1 auto;
  color: white;
  border: none;
  padding: 10px;
  margin-bottom: 5px;
}

#projects {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: -10vh 10% 0 10%;
  max-width: 70vw;
  text-align: center;
  background-color: white;
  padding: 2em;
  border-radius: 5px;
  background-color: grey;
  box-shadow: 1vw 1vw 2vw black;
}
#projects h2 {
  margin-bottom: 50px;
}
#projects #projectBox {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  place-items: center;
  gap: 9vw;
}
#projects #projectBox img {
  height: 10vh;
  width: 10vh;
  max-width: 600px;
}
#projects #projectBox div {
  padding: 2vw;
  width: 40vw;
  min-width: 500px;
  max-width: 600px;
}

#currentproject {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  height: 30vw;
  margin-top: 10em;
}
#currentproject img {
  width: 30vw;
  background-color: grey;
}
#currentproject article {
  width: 40%;
}

#skills {
  margin-top: 10vh;
}

#aboutme {
  margin-top: 10vh;
}

/*# sourceMappingURL=styles.css.map */
